string/app_name#no_obfuscate
string/default_web_client_id#no_obfuscate
string/firebase_database_url#no_obfuscate
string/gcm_defaultSenderId#no_obfuscate
string/google_api_key#no_obfuscate
string/google_app_id#no_obfuscate
string/google_crash_reporting_api_key#no_obfuscate
string/google_storage_bucket#no_obfuscate
string/project_id#no_obfuscate
string/com.crashlytics.android.build_id#no_obfuscate
